.controller {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
}

.quadrant {
	display: none !important;
}

.xbox:not(.disconnected) {
	background-image: url('https://i.imgur.com/kSCUhB3.png') !important;
}

.xbox.disconnected {
	background-image: unset !important;
}

.xbox .stick {
	width: 84px !important;
	height: 83px !important;
	background-image: url('https://i.imgur.com/J9OZnQi.png') !important;
	transition: transform 500ms linear !important;
}

.xbox .button {
	width: 49px !important;
  height: 49px !important;
	background-image: url('https://i.imgur.com/96AHwz3.png') !important;
	transition: opacity 500ms ease-out, transform 500ms ease-out, filter 500ms ease-out  !important;
}

.xbox .face,
.xbox .button {
	transition: opacity 500ms ease-out, transform 500ms ease-out, filter 500ms ease-out  !important;
}

.xbox .button.pressed {
   margin-top: unset !important;
}

.xbox .bumper.pressed {
	-webkit-filter: brightness(0.01);
	filter: brightness(0.01);
}

.xbox .a {
	left: 55px !important;
	top: 112px !important;
}
.xbox .b {
	right: -2px !important;
	top: 62px !important;
}
.xbox .x {
	left: 4px !important;
	top: 62px !important;
}
.xbox .y {
	left: 55px !important;
	top: 12px !important;
}
