.controller {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
}

.xbox:not(.disconnected) {
	background-image: url('https://i.imgur.com/J83cq6e.png') !important;
}

.xbox .button {
    background-image: url('https://i.imgur.com/96AHwz3.png') !important;
}

.xbox.disconnected {
	background-image: unset !important;
}

.quadrant {
	display: none !important;
}
