.controller.xbox {
	background-image: url('https://i.imgur.com/CqMM3GW.png') !important;
	background-size: contain !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}

.quadrant {
	display: none !important;
}
